
.husky

.vscode

/public

node_modules

.next

next.config.js

package.json

package-lock.json

tailwind.config.js

tsconfig.json

next-env.d.ts

jest.config.js

jest.setup.js

**/*.test.tsx

amplify/
